{% extends "track/layout.html" %}
{% block title %} Edit Project | {% endblock %}
{% load static %}
{% block body %}

    
    <!-- Test javascript -->
    {% load crispy_forms_tags %}  

    {% if user.is_authenticated %}
    <div class="card w-75">
        <div class="card-header" id="headingOne"> 
            <h1>Edit Project</h1>
        </div>
        <div class="card-body">
            <h3>
    <form method="POST" id="update_project">
        {% csrf_token %}
        {{ form.name|as_crispy_field }}
        <br>
        {{ form.budget_hours|as_crispy_field}} 
        <br>
        {{ form.budget_dollars|as_crispy_field }}
        <br>
        <button type="submit" class="btn btn-darmok">Save Updated Project</button>
    </form>
    {% endif %}
</h3>
</div>
</div>
    
    <!-- Doesn't matter if logged in-->
    
    
    
{% endblock %}


