{% extends "track/layout.html" %}
{% block title %} Create Task | {% endblock %}
{% load static %}
{% block body %}

    
    <!-- Test javascript -->
    {% load crispy_forms_tags %}  
    <div class="card w-75">
        <div class="card-header" id="headingOne"> 
            <h1>New Task</h1>
        </div>
        <div class="card-body">
            <h3>
                <ul><h3>Tasks: </h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                        {{ form.project }}
                        </div>
                        <br>
                        <div class="row justify-content-center">
                        <input type="button" class="btn btn-darmok btn-sm" value="Start Working" onclick="addCurrentTime('start_time')" /> {{ form.start_time }}
                        </div>
                        <br>
                        <div class="row justify-content-center">
                        <input type="button" class="btn btn-darmok btn-sm" value="Stop Working" onclick="addCurrentTime('end_time')" /> {{ form.end_time }}
                        </div>
                        <br>
                        <div class="row justify-content-center">
                        <button type="submit" class="btn btn-darmok btn-lg center" value="Submit">Submit Time</button>
                        </div>
                    </form>
                    <br>
                    <br>
                    <script>
                    function addCurrentTime(fieldId) {
                        // Get the current date and time
                        var currentTime = new Date();
                    
                        // Format the date and time as a string
                        var currentTimeString = currentTime.toISOString();
                    
                        // Get the form field element with the specified ID
                        var field = document.getElementById(fieldId);
                    
                        // Set the value of the field to the current date and time
                        field.value = currentTimeString;

                        console.log("Worked")
                    }
                    </script>
</h3>
</div>
</div>
    
    <!-- Doesn't matter if logged in-->
    
    
    
{% endblock %}


