{% extends "track/layout.html" %}
{% block title %} Home | {% endblock %}
{% load static %}
{% load mathfilters %}
{% block body %}

    
    <!-- Test javascript -->
    
    <!-- Doesn't matter if logged in-->
    <div class="jumbotron">
        <h1 class="display-4">Hello, Darmok Consultant!</h1>
        <p class="lead">This is your one-stop shop for tracking time and tasks for your Darmok Consulting projects. </p>
        <hr class="my-4">
        <p>Click "New Project" to create a new project, and then to view your projects click "My Projects." From the My Projects page you can click into the invidual projects to track your time.</p>
        <p class="lead">
          <a class="btn btn-darmok btn-sm" href="{% url 'projects' %}" role="button">My Projects</a>
        </p>
      </div>
    
    
{% endblock %}
<script src='{% static 'network/scripts.js' %}'></script>


