{% extends 'track/layout.html' %}
{% load mathfilters %}
{% load humanize %}
{% load static %}
{% block title %} Invoice View | {% endblock %}

{% block body %}

<div class="card w-50">
<div class="card-header">
<h1>All Invoices</h1> 
<strong><center>Click an invoice name for more details</center></strong>
</div>
{% if user.is_authenticated %}

    {% for project in projects %}
    

        <ul class="list-group list-group-flush">
            <a href="{% url 'invoice' project_id=project.id %}" class="list-group-item">{{ project.name }}</a>

      
    {% endfor %}
        </div>
{% endif %}


{% endblock %}