{% extends 'track/layout.html' %}
{% load mathfilters %}

{% block title %} Project View | {% endblock %}

{% block body %}

    {% if user.is_authenticated %}
        <div class="row">
        {% for project in projects %}

             

                <div class="card col-sm-6">
                    <div class="card-header" id="headingOne"> 
                        <h3 class="card-title mb-0"> 
                            Project {{ project.name }} 
                            <br>
                            for {{ project.customer }}
                        </h3>
                    </div>

                    <div class="card-body">
                        <ul><strong>Status:</strong> 
                            {% if project.is_active %}
                            Active
                            {% else %}
                            Inactive
                            {% endif %}
                        </ul>
                        <ul><strong>Project Name:</strong> {{ project.name }}</ul>
                        <ul><strong>Customer:</strong> {{ project.customer }}</ul>
                        <ul><strong>Budget Hours:</strong> {{ project.budget_hours }} / <strong>Current Hours:</strong> {{ project.budget_hours }}</ul>
                        <ul><strong>Budget (USD):</strong> ${{ project.budget_dollars }} / <strong>Current Total (USD):</strong> ${{ project.budget_hours|mul:200 }}</ul>
                        <br>
                        {% if project.is_active %}
                        <ul>
                            <a href="{% url 'edit_project' project.id %}" data-id="{{ project.id }}"><button type="button" class="btn btn-darmok">Edit</button></a>
                            <a href="#" data-id="{{ project.id }}"><button type="button" class="btn btn-darmok">Track</button></a>
                            <a href="#" data-id="{{ project.id }}"><button type="button" class="btn btn-darmok">Expenses</button></a>
                            <a href="#" data-id="{{ project.id }}"><button type="button" class="btn btn-darmok">Invoice</button></a>
                        </ul>
                        {% else %}
                        <ul>
                            <button type="button" class="btn btn-secondary" disabled>Edit</button>
                            <button type="button" class="btn btn-secondary" disabled>Track</button>
                            <button type="button" class="btn btn-secondary" disabled>Expenses</button>
                            <a href="#" data-id="{{ project.id }}"><button type="button" class="btn btn-darmok">Invoice</button></a>                        
                        </ul>
                        {% endif %}
                        
                    </div>
                </div>

        {% endfor %}
        
                
      
    </div>
        
    {% endif %}

   

{% endblock %}