{% extends "track/layout.html" %}
{% block title %} Edit Task | {% endblock %}
{% load static %}
{% block body %}
{% load crispy_forms_tags %}  

<div class="card w-75">
    <div class="card-header" id="headingOne"> 
        <h1>Update Task</h1>
    </div>
    <div class="card-body">
        <h3>
<form method="post">
    {% csrf_token %}
    {{ form.description|as_crispy_field }}
    <br>
    {{ form.task_owner|as_crispy_field }}
    <br>
    {{ form.status|as_crispy_field }}
    <br>
    <button class="btn btn-darmok" type="submit">Update task</button>
</form>

</h3>
{% endblock %}
