{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Panda Mail{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <img src="https://i.imgur.com/NDWcxnv.png">
        <div id="app"></div>
        <script type="text/babel">
            function App() {
                return (
                    <div>
                        
                    </div>
                );
            }

            ReactDOM.render(<App />, document.querySelector("#app"));
        </script>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>