.pagination {
    text-align: center;
    justify-content: center;
}

.pagination a {
    border-radius: 5px;
  }
  
.pagination a.active {
    border-radius: 5px;
  }

button {
    border: none!important;
} 

button:hover {
    fill: #a7a9ac;
}

form {
  padding: 20px;
}