textarea {
    min-height: 400px;
}

.read {
    background-color: #a7a9ac;
}

.new {
    background-color: #ffffff;
}

table {
    width: 100%;
    border-collapse: separate; 

}

th, td { 
    border-radius: 10px;
}

