{% extends "network/layout.html" %}
{% load static %}
{% block body %}

    
    <!-- Test javascript -->
    
    
    <!-- form -->
    {% if user.is_authenticated %}
        <form method = "POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class='btn btn-danger'>Edit</button>
        </form>
    <hr/>
    {% endif %}
    
    <!-- Doesn't matter if logged in-->
    
    
    
{% endblock %}
<script src='{% static 'network/scripts.js' %}'></script>


