body {
    font-family: Helvetica, Arial, Lucida, sans-serif;
    font-size: 14px;
    color: #666;
    background-image: 
    radial-gradient(rgb(222, 222, 222) 19.2%, transparent 21.6%),
    radial-gradient(rgb(222, 222, 222) 19.2%, transparent 21.6%);
    background-position: 0px 0px, 36px 36px;
    background-size: 72px 72px;
    background-color: rgb(255, 255, 255);
    
}

a {
    color: #e7006a;
}

a:hover {
    color: #e7006a;
}

a:active {
    color: black;
}

a:visited {
    color: #9b0047;
}

img {
    height: auto;
    max-width: 100%;
}

h1 {
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    letter-spacing: 1px;
    color: #000;
    padding-bottom: 5px;
    text-align: center;
}

h2 {
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 1px;
    color: #333;
    padding-bottom: 3px;
    text-align: center;
}

h3 {
    font-family: 'Fjalla One', Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #e7006a;
    letter-spacing: 1px;
    text-align: center;
    padding: 3px;
}

.btn-darmok {
    color: white !important;
    background-color: #e7006a !important;
}

.btn-darmok-white {
    background-color: #fff !important;
}

.nav-item {
    font-weight: bold;
}
.nav-logo {
    z-index: 100;
    min-height: 100px;
    vertical-align: middle;
    background: transparent;
}

.top-bar {
    background-color: #e7006a;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.foot-bar {
    background-color: #e7006a;
    color: #fff;
}

.white {
    color: #fff;
}

.greeting {
    color: #e7006a;
}

.card {
    margin: 0 auto; 
    float: none;
    margin-bottom: 10px;
}

.navbar-brand {
    font-weight: bold;
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
}

.inactive {
    color: #D3D3D3;
}

.bg-inactive {
    background-color: black;
    color: white;
}

.card-header {
    background-color: #f7f7f7;
}

#alert {
    color: #e7006a !important;
    font-weight: bold !important;
}

.darmok-font {
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    color: #e7006a;
}

.sm-img {
    width: 100px;
}

.center {
    margin: 0 auto; 
    float: none;
    margin-bottom: 10px;
}

.bg-grey {
    background-color: #D3D3D3;
}

/* Thank you https://stackoverflow.com/questions/33911049/btn-xs-no-longer-a-valid-option-in-bootstrap-4 for this */

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }